#map-show-wrapper {
    .map-img-wrapper {
        position: relative;
    }
    .map-show-route {
        @include btn-on-map;
        background-color: $color-cyan;
    }
    .icon-map-marker {
        padding: 0px;
        font-size: 16px;
    }
    .map-show-location {
        margin-top: 20px;
        padding-bottom: 15px;
        font-size: 16px;
        color: $navbar-text-color;
        border-bottom: 1px solid #e5e5e5;
    }
    .map-show-message {
        text-align: justify;
        padding: 10px;
    }
}
