#rsvp-settings-wrapper {
    .btn-show-dashboard {
        font-size: 16px;
        color: $color-cyan;
    }
    .rsvp-bg {
        margin-top: 54px;
        width: 100%;
        padding-top: 56.26%;
        background-image: bg-image-url("rsvp-bg.jpg");
        background-size: contain;
    }
    .rsvp-deadline {
        @include app-titles;
    }
    .rsvp-submit {
        @include btn-block-footer;
    }
    .input-group {
        & > * {
            border-width: 0;
            border-radius: 0;
            outline: none;
        }
        input.form-control {
            color: $navbar-text-color;
            font-size: 14px;
            box-shadow: none;
        }
        input.form-control:focus {
            border: none;
            box-shadow: none;
        }
        .input-group-addon {
            color: #9f9f9f;
            font-size: 13px;
            background-color: transparent;
            padding-left: 10px;
        }
    }
    #poll-deadline.form-control {
        padding: 0 12px;
    }
}