#rsvp-register-wrapper {
    .btn-show-dashboard {
        font-size: 16px;
        color: $color-cyan;
    }
    .rsvp-bg {
        margin-top: 54px;
        width: 100%;
        padding-top: 56.26%;
        background-image: bg-image-url("rsvp-bg.jpg");
        background-size: contain;
    }
    .rsvp-rsvp-deadline {
        @include app-titles;
    }
    .rsvp-rsvp-message {
        width: 100%;
        margin: 15px 0;
    }
    .input-group {
        border-bottom: 1px solid #cccccc;
        & > * {
            border-width: 0;
            border-radius: 0;
            outline: none;
        }
        input.form-control {
            color: $navbar-text-color;
            font-size: 14px;
            box-shadow: none;
        }
        input.form-control:focus {
            border: none;
            box-shadow: none;
        }
    }
    .rsvp-tips-text {
        color: #9f9f9f;
        font-size: 13px;
        background-color: transparent;
        padding-left: 10px;
    }
    input#rsvp-people {
        color: $color-cyan;
    }

    .footer-navbar {
        padding: 0 15px;
        bottom: 15px;
    }
    .rsvp-submit {
        @include btn-block-footer;
    }
}