@charset "utf-8";
@import "bourbon/bourbon";

//「wedfairy_app」全局变量
$rsvpHeaderColor:#8d88ff;
$mapHeaderColor:#d667cd;
$pollHeaderColor:#fcab52;

$appBodyBackgroundColor:#fff;
$appFontColor:#7b7b7d;
$appSubmitColor:#ff3366;
$highlightColor:#ff607d;

$mapShowFontColor:#353535;
$mapBaiduMapButtonColor:#3e82f7;
$mapBaiduMapButtonBorderColor:#2567da;

$pollSelectTopFontColor:#5b6779;
$pollSelectBottomBackgroundColor:#fcab52;

// 新UI全局变量
$navbar-header-height: 20px + (12px * 2);
$navbar-footer-height: 25px + (12px * 2);
$wrapper-bg: #f4f4f4;
$navbar-bg: #ffffff;
$navbar-text-color: #363636;
$color-cyan: #24dbbd;

// @function image-url($path, $only-path: false, $cache-buster: false) {
//     @return url("/assets/images/" + $path);
// }

@function bg-image-url($path) {
    @return url("/public/images/" + $path);
}

//「wedfairy_app」全局样式
//隐藏滚动条

@mixin btn-block-footer {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  background-color: $color-cyan;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  box-shadow: 0px 0px 5px rgba(#000, 0.2);
}
@mixin app-titles {
  font-size: 16px;
  width: 100%;
  padding: 20px 0px 15px;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #363636;
  line-height: 100%;
}

@mixin btn-on-map {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 16px;
  font-size: 12px;
  color: #fff;
  padding: 6px 10px;
  background-color: rgba(#111111, 0.4);
  box-shadow: 0px 0px 5px rgba(#000, 0.2);
}
::-webkit-scrollbar{
  display:none;
}
input[type="date"],select{
  -webkit-appearance:none;
  background-color:transparent !important;
}
// input[type="radio"],input[type="checkbox"]{
//   -webkit-appearance:none;
//   display: none !important;
// }
.appHeader{
  width:100%;height:190px;padding-top:23px;
  background-repeat:no-repeat;background-position:center bottom;
}
.appHeaderLink{
  display:block;color:#fff;text-decoration:none;
}
.appHeaderLinkIcon{
  font-size:22px;
}
.appBody{
  width:100%;height:auto;padding:44px 15px 30px;
  text-align:center;font-size:14px;line-height:20px;
  background-color:$appBodyBackgroundColor;
  color:$appFontColor;
}
.appSubmitButton{
  width:84%;height:52.8px;margin-top:45.12px;margin-bottom:36px;
  background-color:$appSubmitColor;color:#fff;
  border:none;outline:none;letter-spacing:2px;
}
.appInput{
  border:none;outline:none;border-radius:5px;background-color:#fff;
}
.appLabel{
  font-weight:normal;
}
.highlight{
  color:$highlightColor !important;
  font-weight:bold !important;
}
.list-end{
  width:100%;height:auto;
  margin:36px auto;font-size:12px;
}
.list-end-white{
  width:100%;height:auto;
  margin-top:-11.04px;padding:36px 0;
  font-size:12px;
  background-color:#fff;
}
.clear{
  clear:both;
}
.goback{float:left;}
.goto-dashboard{float:right;font-weight: bold;}

.header-navbar, .footer-navbar {
    z-index: 1;
    background-color: $navbar-bg;
    position: fixed;
    // top: 0;
    left: 0;
    right: 0;
    height: $navbar-header-height;
    @include user-select(none);
    @include clearfix();
    text-align: center;
    color: $navbar-text-color;
    .btn-link {
        position: relative;
        height: $navbar-header-height;
        line-height: $navbar-header-height - 12px - 2px;
        > .iconfont, > .ift, > .fa {
            line-height: $navbar-header-height - 12px - 2px;
            font-size: 18px;
        }
        padding-top: 6px;
        padding-bottom: 6px;
        border-width: 1px;
        color: $navbar-text-color;
        &:hover, &:focus, &:active {
            color: lighten($navbar-text-color, 50%);
        }
    }
    .navbar-body {
        @include position(absolute, 0 15% 0 15%);
        .dropdown-menu, .dropdown-menu::after {
            left: 50%;
            @include transform(translate3d(-50%, 0, 0));
        }
        .navbar-title {
            position: relative;
            font-size: 16px;
            line-height: $navbar-header-height;
        }
    }
    .dropdown-menu > li {
        border-left-width: 5px;
        border-left-style: solid;
        &:nth-child(4n+1) { border-left-color: #8c88ff; }
        &:nth-child(4n+2) { border-left-color: #fcab53; }
        &:nth-child(4n+3) { border-left-color: #d667cd; }
        &:nth-child(4n+4) { border-left-color: #44c3aa; }
    }
}

.header-navbar {
    z-index: 1;
    top: 0;
    padding-left: 0;
    padding-right: 0;
    .navbar-body .navbar-title input {
        display: none;
        visibility: hidden;
    }
    .btn-save {
      color: $color-cyan;
      font-size: 16px;
    }
}
.footer-navbar {
  height: auto;
  bottom: 0;
  padding: 10px 15px;
  background-color: #fff;
}
