@charset "utf-8";
@import "global";
//「地图」全局样式
//不需要写 body 的 background-color


.map-header{
  @extend .appHeader;
  // background-color:$mapHeaderColor;
  // background-image:url(../images/map_header.jpg);
  background-size:77.07%;
  a {
    @extend .appHeaderLink;
    i{
      @extend .appHeaderLinkIcon;
    }
  }
}
.map-body{
  @extend .appBody;
}
.map-submit{
  @extend .appSubmitButton;
}
//「地图」设置页面
#map-location{
  font-size: 16px;
  @extend .appInput;
  width:100%;
  padding:20px 15px 10px;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  color: $navbar-text-color;
}
#map-address{
  @extend .appInput;
  // width:94.93%;height:72.00px;
  // margin-top:28.32px;padding:5.07%;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  // border: 1px solid red;
  border-radius: 0;
}
.map-use{
  width:100%;height:55.68px;margin-top:52.32px;
  border:none;outline:none;
  background-color:$mapBaiduMapButtonColor;color:#fff;
  i{
    font-size:20px;
  }
}
.map-img{
  width:100%;height:auto;
}
textarea {
  resize: none;
  color: $navbar-text-color;
}
#map-message{
  @extend .appInput;
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 0;
}
//「地图」展示页面
.map-show-body{
  @extend .appBody;
  background-color:#fff;
  color:$mapShowFontColor;
}
//「地图」地点标注页面
.map-mark-header{
  width:100%;height:44px;border:1px solid #a3a3a3;
  font-size:16px;line-height:44px;text-align:center;color:#826c61;
  a{
    display:block;width:44px;height:44px;position:absolute;
    i{
      font-size:22px;line-height:30px;color:#826c61;
    }
  }
}
#baidu-map-mark{
  width:100%;
  margin:0;
  margin-top: 54px;
  overflow:hidden;
}
.map-mark-footer{
  width:100%;height:44px;border:1px solid #a3a3a3;
  font-size:15px;text-align:center;color:#555;
}
.map-wrapper {
  margin-top: 10px;
  position: relative;
  .btn-tips-map {
    @include btn-on-map;
  }
  .icon-map-marker {
    padding: 0px;
    font-size: 16px;
  }
  .map-marker{
    width:40px;
    height:40px;
    margin-top:-40px;
    margin-left:-20px;
    position:absolute;
    top:50%;
    left:50%;
    // z-index:1;
  }
}

//map mark
.map-mark-marker {
  width: 40px;
  height: 40px;
  margin-top: -40px;
  margin-left: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}


@import "map-mark";
@import "map-show";