@charset "utf-8";
@import "global";
//「宾客管理」全局样式
body{
  background-color: $appBodyBackgroundColor;
}

textarea {
  resize: none;
  color: $navbar-text-color;
  border: none;
  width: 100%;
  margin: 15px 0;
  outline: none;
  box-shadow: none;
}
input {
  border: none;
  outline: none;
  color: $navbar-text-color;
  box-shadow: none;
}

.progress {
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 80%;
    margin: 3px 0 20px;
    .progress-bar {
        min-width: 1%;
        background-color: $color-cyan;
    }
}
.precent-text {
    text-align: right;
    display: inline-block;
    width: 20%;
    font-size: 12px;
    color: $color-cyan;
}

@import 'poll-settings';
@import 'poll-dashboard';
@import 'poll-vote';