@charset "utf-8";
@import "global";
//「宾客管理」全局样式
body{
  background-color: $appBodyBackgroundColor;
}

textarea {
  resize: none;
  color: $navbar-text-color;
  border: none;
  width: 100%;
  margin: 15px 0;
  outline: none;
}
input {
  border: none;
  outline: none;
  color: $navbar-text-color;
}
.rsvp-rsvp-notice {
  color: $color-cyan;
  margin-top: 30px;
}

@import 'rsvp-settings';
@import 'rsvp-dashboard';
@import 'rsvp-register';