<script id="template-rsvp-guest-item" type="text/x-handlebars-template">
    <div class='dashboard-guests-details wow fadeInUp'>
        <div class='avatar-wrapper'>
            {{#if avatar}}
            <div class='img avatar' data-bg-src='{{avatar}}'></div>
            {{else}}
            <div class='img avatar default-avatar'></div>
            {{/if}}
        </div>
        <div class='name-mobile-time-wrapper'>
            <span class="name">{{name}}</span>
            <span class="mobile">{{mobile}}</span>
            <div class="created-time">{{created_date}}</div>
        </div>
        <div class='people-wrapper'>
            <div class="people-text text-center">参加人数</div>
            <div class="people-num text-center">{{people}}</div>
        </div>
    </div>
</script>

<script id="template-poll-option-item" type="text/x-handlebars-template">
    <span class='input-group-addon poll-tips-text index'></span>
    <input class="form-control" name="poll-name" type="text" value="{{content}}" data-pos="{{pos}}"/>
</script>

<script id="template-dashboard-poll-item" type="text/x-handlebars-template">
    <span class='vote-people-num'>{{count}}人</span>
    <span clas='poll-tips-text'>喜欢{{content}}</span>
    <div class="progress-wrapper clearfix">
        <div class="progress pull-left">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%;">
            </div>
        </div>
        <span class="precent-text pull-right">{{percent}}%</span>
    </div>
</script>

<script id="template-vote-radio-item" type="text/x-handlebars-template">
    <div class="radio-wrapping">
        <div class="radio">
            <input type="radio" class="vote-item" id="radio-input-{{pos}}" name="radio-input" value="{{id}}" />
            <label for="radio-input-{{pos}}"></label>
        </div>
    </div>
    <span class="content">{{content}}</span>
    <span class="check"></span>
</script>

<script id="template-vote-checkbox-item" type="text/x-handlebars-template">
    <div class="checkbox-wrapping">
        <div class="checkbox">
            <input type="checkbox" class="vote-item" id="checkbox-input-{{pos}}" name="checkbox-input" value="{{id}}" />
            <label for="checkbox-input-{{pos}}"></label>
        </div>
    </div>
    <span class="content">{{content}}</span>
    <span class="check"></span>
</script>