<script id="template-rsvp-guest-item" type="text/x-handlebars-template">
    <div class='dashboard-guests-details wow fadeInUp'>
        <div class='avatar-wrapper'>
            {{#if avatar}}
            <div class='img avatar' data-bg-src='{{avatar}}'></div>
            {{else}}
            <div class='img avatar default-avatar'></div>
            {{/if}}
        </div>
        <div class='name-mobile-time-wrapper'>
            <span class="name">{{name}}</span>
            <span class="mobile">{{mobile}}</span>
            <div class="created-time">{{created_date}}</div>
        </div>
        <div class='people-wrapper'>
            <div class="people-text text-center">参加人数</div>
            <div class="people-num text-center">{{people}}</div>
        </div>
    </div>
</script>

<script id="template-poll-option-item" type="text/x-handlebars-template">
    <span class='input-group-addon poll-tips-text index'></span>
    <input class="form-control" name="poll-name" type="text" value="{{content}}"/>
</script>