::-webkit-scrollbar {
  display: none; }

input[type="date"], select {
  -webkit-appearance: none;
  background-color: transparent !important; }

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  display: none !important; }

.appHeader, .map-header {
  width: 100%;
  height: 190px;
  padding-top: 23px;
  background-repeat: no-repeat;
  background-position: center bottom; }

.appHeaderLink, .map-header a {
  display: block;
  color: #fff;
  text-decoration: none; }

.appHeaderLinkIcon, .map-header a i {
  font-size: 22px; }

.appBody, .map-body, .map-show-body {
  width: 100%;
  height: auto;
  padding: 44px 15px 30px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  color: #7b7b7d; }

.appSubmitButton, .map-submit {
  width: 84%;
  height: 52.8px;
  margin-top: 45.12px;
  margin-bottom: 36px;
  background-color: #ff3366;
  color: #fff;
  border: none;
  outline: none;
  letter-spacing: 2px; }

.appInput, #map-location, #map-address, #map-message {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #fff; }

.appLabel {
  font-weight: normal; }

.highlight {
  color: #ff607d !important;
  font-weight: bold !important; }

.list-end {
  width: 100%;
  height: auto;
  margin: 36px auto;
  font-size: 12px; }

.list-end-white {
  width: 100%;
  height: auto;
  margin-top: -11.04px;
  padding: 36px 0;
  font-size: 12px;
  background-color: #fff; }

.clear {
  clear: both; }

.goback {
  float: left; }

.goto-dashboard {
  float: right;
  font-weight: bold; }

.header-navbar, .footer-navbar {
  z-index: 1;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  height: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #363636; }
  .header-navbar:after, .footer-navbar:after {
    content: "";
    display: table;
    clear: both; }
  .header-navbar .btn-link, .footer-navbar .btn-link {
    position: relative;
    height: 44px;
    line-height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-width: 1px;
    color: #363636; }
    .header-navbar .btn-link > .iconfont, .header-navbar .btn-link > .ift, .header-navbar .btn-link > .fa, .footer-navbar .btn-link > .iconfont, .footer-navbar .btn-link > .ift, .footer-navbar .btn-link > .fa {
      line-height: 30px;
      font-size: 18px; }
    .header-navbar .btn-link:hover, .header-navbar .btn-link:focus, .header-navbar .btn-link:active, .footer-navbar .btn-link:hover, .footer-navbar .btn-link:focus, .footer-navbar .btn-link:active {
      color: #b6b6b6; }
  .header-navbar .navbar-body, .footer-navbar .navbar-body {
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: 15%; }
    .header-navbar .navbar-body .dropdown-menu, .header-navbar .navbar-body .dropdown-menu::after, .footer-navbar .navbar-body .dropdown-menu, .footer-navbar .navbar-body .dropdown-menu::after {
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
    .header-navbar .navbar-body .navbar-title, .footer-navbar .navbar-body .navbar-title {
      position: relative;
      font-size: 16px;
      line-height: 44px; }
  .header-navbar .dropdown-menu > li, .footer-navbar .dropdown-menu > li {
    border-left-width: 5px;
    border-left-style: solid; }
    .header-navbar .dropdown-menu > li:nth-child(4n+1), .footer-navbar .dropdown-menu > li:nth-child(4n+1) {
      border-left-color: #8c88ff; }
    .header-navbar .dropdown-menu > li:nth-child(4n+2), .footer-navbar .dropdown-menu > li:nth-child(4n+2) {
      border-left-color: #fcab53; }
    .header-navbar .dropdown-menu > li:nth-child(4n+3), .footer-navbar .dropdown-menu > li:nth-child(4n+3) {
      border-left-color: #d667cd; }
    .header-navbar .dropdown-menu > li:nth-child(4n+4), .footer-navbar .dropdown-menu > li:nth-child(4n+4) {
      border-left-color: #44c3aa; }

.header-navbar {
  z-index: 1;
  top: 0;
  padding-left: 0;
  padding-right: 0; }
  .header-navbar .navbar-body .navbar-title input {
    display: none;
    visibility: hidden; }
  .header-navbar .btn-save {
    color: #24dbbd;
    font-size: 16px; }

.footer-navbar {
  bottom: 0; }

.map-header {
  background-size: 77.07%; }

#map-location {
  width: 94.93%;
  padding: 20px 15px 10px;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #363636; }

#map-address {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 0; }

.map-use {
  width: 100%;
  height: 55.68px;
  margin-top: 52.32px;
  border: none;
  outline: none;
  background-color: #3e82f7;
  color: #fff; }
  .map-use i {
    font-size: 20px; }

.map-img {
  width: 100%;
  height: auto; }

#map-message {
  width: 100%;
  height: auto;
  padding: 15px 0; }

.map-show-body {
  background-color: #fff;
  color: #353535; }

.map-show-location {
  width: 66.67%;
  height: auto;
  margin: 98.40px auto 0; }

.map-show-flower {
  width: 21.73%;
  height: auto;
  margin-top: 16.80px; }

.map-show-address {
  width: 66.67%;
  height: auto;
  margin: 31.68px auto 0; }

.map-show-route {
  width: 44.00%;
  height: 43.68px;
  margin-top: 57.60px;
  background-color: #3e82f7;
  color: #fff;
  border: 1px solid #2567da;
  border-radius: 21.84px;
  outline: none; }

#baidu-map {
  width: 95.73%;
  margin: 23.52px auto 0;
  overflow: hidden; }

.map-show-how-come {
  width: 26.67%;
  height: auto;
  margin-top: 54.72px; }

.map-show-message {
  width: 78.13%;
  height: auto;
  margin: 16.32px auto 158.40px;
  padding-top: 31.20px;
  border-top: 1px solid #c4c4c4;
  text-align: left; }

.map-mark-header {
  width: 100%;
  height: 44px;
  border: 1px solid #a3a3a3;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: #826c61; }
  .map-mark-header a {
    display: block;
    width: 44px;
    height: 44px;
    position: absolute; }
    .map-mark-header a i {
      font-size: 22px;
      line-height: 30px;
      color: #826c61; }

#baidu-map-mark {
  width: 100%;
  margin: 0;
  margin-top: 44px;
  overflow: hidden; }

.map-mark-footer {
  width: 100%;
  height: 44px;
  border: 1px solid #a3a3a3;
  font-size: 15px;
  text-align: center;
  color: #555; }

.map-wrapper {
  margin-top: 10px;
  position: relative; }
  .map-wrapper .btn-tips-map {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 14px;
    font-size: 12px;
    color: #fff;
    padding: 4px 10px;
    background-color: rgba(17, 17, 17, 0.4); }
  .map-wrapper .icon-map-marker {
    padding: 0px;
    font-size: 16px; }
  .map-wrapper .map-marker {
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: -20px;
    position: absolute;
    top: 50%;
    left: 50%; }

.map-mark-marker {
  width: 40px;
  height: 40px;
  margin-top: -40px;
  margin-left: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1; }

textarea {
  resize: none; }

#map-mark-wrapper {
  height: 100%; }
  #map-mark-wrapper .map-body {
    padding-top: 0;
    padding-bottom: 0; }
  #map-mark-wrapper .footer-navbar {
    padding: 0 15px;
    bottom: 15px; }
  #map-mark-wrapper .map-mark-sure {
    color: #fff;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    background-color: #24dbbd;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px; }
