::-webkit-scrollbar {
  display: none; }

input[type="date"], select {
  -webkit-appearance: none;
  background-color: transparent !important; }

.appHeader {
  width: 100%;
  height: 190px;
  padding-top: 23px;
  background-repeat: no-repeat;
  background-position: center bottom; }

.appHeaderLink {
  display: block;
  color: #fff;
  text-decoration: none; }

.appHeaderLinkIcon {
  font-size: 22px; }

.appBody {
  width: 100%;
  height: auto;
  padding: 44px 15px 30px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  color: #7b7b7d; }

.appSubmitButton {
  width: 84%;
  height: 52.8px;
  margin-top: 45.12px;
  margin-bottom: 36px;
  background-color: #ff3366;
  color: #fff;
  border: none;
  outline: none;
  letter-spacing: 2px; }

.appInput {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #fff; }

.appLabel {
  font-weight: normal; }

.highlight {
  color: #ff607d !important;
  font-weight: bold !important; }

.list-end {
  width: 100%;
  height: auto;
  margin: 36px auto;
  font-size: 12px; }

.list-end-white {
  width: 100%;
  height: auto;
  margin-top: -11.04px;
  padding: 36px 0;
  font-size: 12px;
  background-color: #fff; }

.clear {
  clear: both; }

.goback {
  float: left; }

.goto-dashboard {
  float: right;
  font-weight: bold; }

.header-navbar, .footer-navbar {
  z-index: 999;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  height: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #363636; }
  .header-navbar:after, .footer-navbar:after {
    content: "";
    display: table;
    clear: both; }
  .header-navbar .btn-link, .footer-navbar .btn-link {
    position: relative;
    height: 44px;
    line-height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-width: 1px;
    color: #363636; }
    .header-navbar .btn-link > .iconfont, .header-navbar .btn-link > .ift, .header-navbar .btn-link > .fa, .footer-navbar .btn-link > .iconfont, .footer-navbar .btn-link > .ift, .footer-navbar .btn-link > .fa {
      line-height: 30px;
      font-size: 18px; }
    .header-navbar .btn-link:hover, .header-navbar .btn-link:focus, .header-navbar .btn-link:active, .footer-navbar .btn-link:hover, .footer-navbar .btn-link:focus, .footer-navbar .btn-link:active {
      color: #b6b6b6; }
  .header-navbar .navbar-body, .footer-navbar .navbar-body {
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: 15%; }
    .header-navbar .navbar-body .dropdown-menu, .header-navbar .navbar-body .dropdown-menu::after, .footer-navbar .navbar-body .dropdown-menu, .footer-navbar .navbar-body .dropdown-menu::after {
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
    .header-navbar .navbar-body .navbar-title, .footer-navbar .navbar-body .navbar-title {
      position: relative;
      font-size: 16px;
      line-height: 44px; }
  .header-navbar .dropdown-menu > li, .footer-navbar .dropdown-menu > li {
    border-left-width: 5px;
    border-left-style: solid; }
    .header-navbar .dropdown-menu > li:nth-child(4n+1), .footer-navbar .dropdown-menu > li:nth-child(4n+1) {
      border-left-color: #8c88ff; }
    .header-navbar .dropdown-menu > li:nth-child(4n+2), .footer-navbar .dropdown-menu > li:nth-child(4n+2) {
      border-left-color: #fcab53; }
    .header-navbar .dropdown-menu > li:nth-child(4n+3), .footer-navbar .dropdown-menu > li:nth-child(4n+3) {
      border-left-color: #d667cd; }
    .header-navbar .dropdown-menu > li:nth-child(4n+4), .footer-navbar .dropdown-menu > li:nth-child(4n+4) {
      border-left-color: #44c3aa; }

.header-navbar {
  z-index: 1;
  top: 0;
  padding-left: 0;
  padding-right: 0; }
  .header-navbar .navbar-body .navbar-title input {
    display: none;
    visibility: hidden; }
  .header-navbar .btn-save {
    color: #24dbbd;
    font-size: 16px; }

.footer-navbar {
  height: auto;
  bottom: 0;
  padding: 10px 15px;
  background-color: #fff; }

.btn-save[enable="false"],
.btn-submit[enable="false"] {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  background-color: #24dbbd;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #bebebe;
  color: #f0f0f0; }

.btn-save[enable="true"],
.btn-submit[enable="true"] {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  background-color: #24dbbd;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

body {
  background-color: #fff; }

textarea {
  resize: none;
  color: #363636;
  border: none;
  width: 100%;
  margin: 15px 0;
  outline: none;
  box-shadow: none; }

input {
  border: none;
  outline: none;
  color: #363636;
  box-shadow: none; }

.progress {
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 80%;
  margin: 3px 0 20px; }
  .progress .progress-bar {
    min-width: 1%;
    background-color: #24dbbd; }

.precent-text {
  text-align: right;
  display: inline-block;
  width: 20%;
  font-size: 12px;
  color: #24dbbd; }

#poll-settings-wrapper .container.poll-body {
  padding-bottom: 65px; }

#poll-settings-wrapper .btn-goto-dashboard {
  font-size: 16px;
  color: #24dbbd; }

#poll-settings-wrapper .poll-bg {
  margin-top: 44px;
  width: 100%;
  padding-top: 56.26%;
  background-image: url("/public/images/poll-bg.jpg");
  background-size: contain; }

#poll-settings-wrapper #poll-title {
  font-size: 16px;
  width: 100%;
  padding: 20px 0px 15px;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #363636;
  line-height: 100%; }

#poll-settings-wrapper #poll-message {
  margin-bottom: 5px; }

#poll-settings-wrapper #poll-deadline.form-control,
#poll-settings-wrapper #poll-type.form-control {
  padding: 0 12px; }

#poll-settings-wrapper .poll-option-list {
  margin-bottom: 10px; }

#poll-settings-wrapper input[readonly="readonly"], #poll-settings-wrapper textarea[readonly="readonly"] {
  background-color: transparent; }

#poll-settings-wrapper .input-group > * {
  border-width: 0;
  border-radius: 0;
  outline: none; }

#poll-settings-wrapper .input-group input.form-control {
  color: #363636;
  font-size: 14px;
  box-shadow: none; }

#poll-settings-wrapper .input-group input.form-control:focus {
  border: none;
  box-shadow: none; }

#poll-settings-wrapper .input-group .input-group-addon {
  color: #9f9f9f;
  font-size: 13px;
  background-color: transparent;
  padding-left: 10px; }

#poll-settings-wrapper .poll-option-list .input-group {
  border-bottom: 1px solid #cccccc; }

#poll-settings-wrapper .poll-option-add {
  margin: 20px 0 20px; }

#poll-settings-wrapper .btn-add-poll-option {
  padding: 7px;
  font-size: 15px;
  color: #b2b2b2;
  border: 3px solid #e8e8e8;
  border-radius: 50%; }

#poll-settings-wrapper select, #poll-settings-wrapper select:focus {
  outline: none;
  border: none;
  box-shadow: none; }

#poll-dashboard-wrapper .container.poll-body {
  padding-bottom: 35px; }

#poll-dashboard-wrapper .btn-show-dashboard {
  font-size: 16px;
  color: #24dbbd; }

#poll-dashboard-wrapper .poll-bg {
  margin-top: 44px;
  width: 100%;
  padding-top: 56.26%;
  background-image: url("/public/images/poll-bg.jpg");
  background-size: contain; }

#poll-dashboard-wrapper .poll-title {
  font-size: 16px;
  width: 100%;
  padding: 20px 0px 15px;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #363636;
  line-height: 100%; }

#poll-dashboard-wrapper .poll-message {
  margin: 15px 0; }

#poll-dashboard-wrapper .poll-deadline {
  margin: 45px 0 15px;
  color: #bebebe; }

#poll-dashboard-wrapper .poll-option-list {
  margin-bottom: 10px; }

#poll-dashboard-wrapper .vote-people-num {
  color: #24dbbd;
  font-size: 20px; }

#poll-dashboard-wrapper .poll-dashboard-total {
  margin-bottom: 20px; }

#poll-dashboard-wrapper .dashboard-total-num {
  color: #bebebe;
  font-size: 12px; }

#poll-dashboard-wrapper .poll-tips-text {
  color: #8c8c8c; }

#poll-dashboard-wrapper .poll-option-add {
  margin: 20px 0 20px; }

#poll-dashboard-wrapper .btn-add-poll-option {
  padding: 7px;
  font-size: 15px;
  color: #b2b2b2;
  border: 3px solid #e8e8e8;
  border-radius: 50%; }

#poll-dashboard-wrapper select, #poll-dashboard-wrapper select:focus {
  outline: none;
  border: none;
  box-shadow: none; }

#poll-vote-wrapper .container.poll-body {
  padding-bottom: 65px; }

#poll-vote-wrapper .btn-show-dashboard {
  font-size: 16px;
  color: #24dbbd; }

#poll-vote-wrapper .poll-bg {
  margin-top: 44px;
  width: 100%;
  padding-top: 56.26%;
  background-image: url("/public/images/poll-bg.jpg");
  background-size: contain; }

#poll-vote-wrapper .poll-title {
  font-size: 16px;
  width: 100%;
  padding: 20px 0px 15px;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #363636;
  line-height: 100%; }

#poll-vote-wrapper .poll-message {
  margin-top: 15px;
  margin-bottom: 15px; }

#poll-vote-wrapper .poll-deadline {
  margin: 45px 0 15px;
  color: #bebebe; }

#poll-vote-wrapper .poll-tips-text {
  color: #8c8c8c; }

#poll-vote-wrapper .vote-people-num {
  color: #24dbbd;
  font-size: 20px; }

#poll-vote-wrapper .dashboard-total-num {
  color: #bebebe;
  font-size: 12px; }

#poll-vote-wrapper .dashboard-poll-item {
  margin: 20px 0; }
  #poll-vote-wrapper .dashboard-poll-item:after {
    content: "";
    display: table;
    clear: both; }

#poll-vote-wrapper .poll-option-list {
  margin-bottom: 10px; }

#poll-vote-wrapper .radio, #poll-vote-wrapper .checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #24dbbd;
  background: #fff;
  margin: 0 auto; }

#poll-vote-wrapper .radio {
  border-radius: 50%; }

#poll-vote-wrapper .radio-wrapping, #poll-vote-wrapper .checkbox-wrapping {
  width: 15%;
  float: left; }

#poll-vote-wrapper input[type="radio"], #poll-vote-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: none !important; }

#poll-vote-wrapper .radio input[type="radio"], #poll-vote-wrapper .radio-inline input[type="radio"],
#poll-vote-wrapper .checkbox input[type="checkbox"], #poll-vote-wrapper .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px; }

#poll-vote-wrapper span.content {
  width: 85%;
  margin: 0;
  float: left; }

#poll-vote-wrapper .radio label, #poll-vote-wrapper .checkbox label {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  padding-left: 14px;
  height: 14px;
  min-height: 14px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 1; }

#poll-vote-wrapper .radio label {
  border-radius: 50px; }

#poll-vote-wrapper .radio input[type=radio]:checked + label,
#poll-vote-wrapper .checkbox input[type=checkbox]:checked + label {
  background: #24dbbd; }

#poll-vote-wrapper input[readonly="readonly"], #poll-vote-wrapper textarea[readonly="readonly"] {
  background-color: transparent; }

#poll-vote-wrapper .input-group {
  border-bottom: 1px solid #cccccc; }
  #poll-vote-wrapper .input-group > * {
    border-width: 0;
    border-radius: 0;
    outline: none; }
  #poll-vote-wrapper .input-group input.form-control {
    color: #363636;
    font-size: 14px;
    box-shadow: none; }
  #poll-vote-wrapper .input-group input.form-control:focus {
    border: none;
    box-shadow: none; }
  #poll-vote-wrapper .input-group .input-group-addon {
    color: #9f9f9f;
    font-size: 13px;
    background-color: transparent;
    padding-left: 10px; }

#poll-vote-wrapper .poll-option-add {
  margin: 20px 0 20px; }

#poll-vote-wrapper .btn-add-poll-option {
  padding: 7px;
  font-size: 15px;
  color: #b2b2b2;
  border: 3px solid #e8e8e8;
  border-radius: 50%; }

#poll-vote-wrapper select, #poll-vote-wrapper select:focus {
  outline: none;
  border: none;
  box-shadow: none; }
