<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <title>报名</title>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/rsvp.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/animate.css">
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="rsvp-dashboard-wrapper">
    <header class="container header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">宾客管理</span>
        </div>
        <div class="btn btn-link btn-back pull-left" data-route="return">
            <i class="iconfont icon-arrow-left"></i>
            <link class="rippleJS" />
        </div>
    </header>
    <div class="container rsvp-body">
        <div class="img rsvp-bg"></div>
        <div class="rsvp-dashboard-total">
            <div class="dashboard-total-deadline">
                <span>报名截止日期: </span>
                <span class="text-default-color"></span>
            </div>
            <div class="dashboard-total-num">
                <span>确定参加人数: </span>
                <span class="text-default-color"></span>
                <span>人</span>
            </div>
        </div>
        <div class="dashboard-rsvp-header">
            <i class="fa fa-users guests-icon"></i>
            <label>宾客名单</label>
        </div>
        <div class="dashboard-guests-list"></div>
    </div>
    <% include ../templates %>
    <% include ../includes/javascripts %>
    <script>
        new WOW().init();
    </script>
    <script src="<%= cdn_url %>/javascripts/rsvp-dashboard.js"></script>
    <% include ../includes/analytics %>
</body>
</html>

