<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <title>报名</title>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/rsvp.css">
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="rsvp-settings-wrapper">
    <header class="container header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">宾客管理</span>
        </div>
        <div class="btn btn-link btn-back pull-left" data-route="return">
            <i class="iconfont icon-arrow-left"></i>
            <link class="rippleJS" />
        </div>
        <div class="btn btn-link btn-show-dashboard pull-right">
            <span>查看宾客</span>
            <link class="rippleJS" />
        </div>
    </header>
    <div class="container rsvp-body">
        <div class="img rsvp-bg"></div>
        <div class="rsvp-deadline">
            <span>设定截止日期:</span>
            <input name="rsvp-deadline" id="rsvp-deadline" type="date"/>
        </div>
        <textarea name="rsvp-message" id="rsvp-message" placeholder="请输入你想要对宾客说的话..." rows="8"></textarea>
    </div>
    <footer class="footer-navbar footer-btn">
        <div class="rsvp-submit has-ripple">提交</div>
    </footer>
</body>

<% include ../includes/javascripts %>
<script src="<%= cdn_url %>/javascripts/rsvp-settings.js"></script>
<% include ../includes/analytics %>
</html>

