<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <title>地图</title>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/map.css">
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="map-show-wrapper">
    <!-- <div class="container map-header">
        <a href="javascript:history.go(-1);"><i class="iconfont icon-arrow-left"></i></a>
    </div> -->
    <header class="container header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">地图导航</span>
        </div>
        <div class="btn btn-link btn-back pull-left" data-route="return">
            <i class="iconfont icon-arrow-left"></i>
            <link class="rippleJS" />
        </div>
    </header>
    <div class="container map-show-body">
        <!-- <div class="map-show-address"></div> -->
        <div class="map-img-wrapper">
            <div id="baidu-map"></div>
            <button class="btn btn-link map-show-route">
                <i class="iconfont icon-map-marker"></i>
                <span>查看路线</span>
            </button>
        </div>
        <div class="map-show-location"></div>
        <div class="map-show-message"></div>
    </div>
</body>

<% include ../includes/javascripts %>
<script src="<%= static_url %>javascripts/global_tool.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=qNG8rBhokW7RzZnaRN9ubujq"></script>
<script src="<%= cdn_url %>/javascripts/map-show.js"></script>

<% include ../includes/analytics %>
</html>

