<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <title>投票</title>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/poll.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/animate.css">
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="poll-dashboard-wrapper">
    <header class="container header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">投票结果</span>
        </div>
        <div class="btn btn-link btn-back pull-left" data-route="return">
            <i class="ift ift-arrow-left"></i>
            <link class="rippleJS" />
        </div>
    </header>
    <div class="container poll-body">
        <div class="img poll-bg"></div>
        <div class="poll-title text-center"></div>
        <div class="poll-message text-center"></div>
        <div class="poll-dashboard-total">
            <div class="dashboard-total-num text-center">
                <span>参与投票总数: </span>
                <span class="text-default-color"></span>
            </div>
        </div>
        <div class="poll-deadline">
            <span>投票截止日期: </span>
            <span class="poll-deadline-text"></span>
        </div>

        <!--投票结果展示-->
        <div class="poll-result-wrapper"></div>
        <!--投票人展示-->
        <!-- <div class="voter-header">
            <i class="fa fa-users"></i>
            <label>投票详情</label>
        </div>
        <div class="voter-list"></div>
        <div class="list-end-white">- END -</div> -->
    </div>
    <% include ../templates %>
    <% include ../includes/javascripts %>
    <script src="<%= cdn_url %>/javascripts/poll-dashboard.js"></script>
</body>
<script>
    new WOW().init();
</script>

<% include ../includes/analytics %>
</html>

